<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/main.bundle.css">
</head>
<body>
  <script src="/assets/js/vendor.bundle.js"></script>
  <script src="/assets/js/main.bundle.js"></script>
</body>
</html>
